@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600;10..48,700&family=Nunito+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  /* Small devices (tablets) */
  .container {
    max-width: 540px;
  }
}

@media (min-width: 991.98px) {
  /* Medium devices (desktops) */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1191.98px) {
  /* Medium devices (desktops) */
  .container {
    max-width: 1140px;
  }
}

