.post-page {
  padding-top: 60px;

  button {
    border: none;
    padding: 10px 20px;
    outline: none;
    background-color: #949494;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
}

